src/verbose.txt
src/xplain2sql
*.melted
src/xplain_parser.e
src/xplain_scanner.e
src/xplain_tokens.e
compile_ge.xace
compile_ise.ecf
*.err
*.out
doc/*.log
doc/xplain2sql.pdf
builddir
samples/test2.ddl
*.tar.gz
*.zip
EIFGENs
samples/*.tmp
samples/*.sql
util/cgi/cgi_xplain2sql
