src/verbose.txt
src/xplain2sql
*.melted
src/xplain_parser.e
src/xplain_scanner.e
src/xplain_tokens.e
src/xplain2sql*.h
src/xplain2sql*.c
src/xplain2sql*.o
src/xplain2sql.sh
src/*.gdb
src/*.db
xplain2sql-*.deb
compile_ge.ecf
compile_ise.ecf
*.err
*.out
doc/*.log
doc/xplain2sql.pdf
builddir
samples/test2.ddl
*.tar.gz
*.zip
EIFGENs
samples/*.tmp
samples/*.sql
util/cgi/cgi_xplain2sql
*.buildinfo
*.changes
*.deb
*.ddeb
*.ppa.upload
*.build
*.dsc
*.debian.tar.xz
