language: c

dist: bionic

os:
  - linux

env:
  global:
    - MAKEFLAGS="-j 2"

before_script:
  # Install ISE Eiffel (see https://www.eiffel.org/setup/)
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then export ISE_PLATFORM=linux-x86-64; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then export ISE_PLATFORM=macosx-x86-64; fi
  - curl -sSL https://www.eiffel.org/setup/install.sh | bash > eiffel.rc
  - source ./eiffel.rc
  - ec -version

  # Install gobo
  - export GOBO=$PWD/gobo
  - export PATH=$GOBO/bin:$PATH
  - git clone --depth=1 https://github.com/gobo-eiffel/gobo.git
  - travis_wait $GOBO/bin/install.sh -t gcc
  - gec --version
  - geant --version
  - gelex --version

script:
  - cd src
  #- geant compile_ise
  - ls -l xplain_scanner.e
  - geant -v compile_ge
  - ls -l xplain_scanner.e
  - grep yyMax_symbol_equiv_class *.e
  #- ec -batch -config xplain2sql.ecf
  #- make -f xplain2sql.make clean all
