language: c

dist: xenial

os:
  - linux

before_script:
  # Install ISE Eiffel (see https://www.eiffel.org/setup/)
  - export TRAVIS_ISE_VERSION=19.05.103187
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then export ISE_PLATFORM=linux-x86-64; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then export ISE_PLATFORM=macosx-x86-64; fi
  - curl -sSL https://www.eiffel.org/setup/install.sh | bash -s $TRAVIS_ISE_VERSION > eiffel.rc
  - source ./eiffel.rc
  - ec -version

script:
  - cd src
  - ec -config xplain2sql.ecf
